.two-col-row {
  display: flex;
  flex-flow: row nowrap;
  align-items:center;

  .main-content {
    flex: 1;
  }

  .secondary-content {
    text-align: right;
    width: 5em;
  }

}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: #F2F2F2;
  }
}
